<!DOCTYPE html>

<html ng-app= 'quoteBook' ng-controller= 'mainCtrl'>

	<head>
		<link rel='stylesheet' href='style.css'>
	</head>


	<body>

	<div>

		<div ng-click='showAdd()'>add Quote</div>
		<div ng-click='showDelete()'>Delete Quote</div>
		<div ng-click='showfilter()'>Filter Quote</div>

	</div>


	<div>

		<form ng-submit='add()'ng-show='addedQuote'>
			<input type='text' placeholder='quote' ng-model='text'><br>
			<input type='text' placeholder='author' ng-model='author'><br>
			<button>submit</button>
			</form>

		<form ng-submit='remove()'ng-show='deletedQuote'>
			<input type="text" placeholder="Remove Quote" ng-model= 'searchTerm'>
			<button>submit</button>
			</form>

		<form ng-show='filterQuote'>
			<input type="text" placeholder="Filter" ng-model='searchTerm1')>
			</form>
	</div>







	<div ng-repeat='words in quotes|filter: searchTerm1'>
		<li>
		{{words.text}}
		</li>

		<li>
			{{words.author}}
		</li>
		<hr>


	</div>


	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js'></script>
	<script src='js/app.js'></script>
	<script src='js/mainCtrl.js'></script>
	<script src='js/dataService.js'></script>
	</body>
	</html>